main#not-found-page {
  padding: 20vw;
  animation: fadeIn 400ms ease-in-out;

  > h1 {
    font-size: 160px;
    margin: 0;
    padding: 0;
    color: #222;
    text-align: center;
  }

  > p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
  }
}
